.addItem {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 95%;
    background-color: #ccc;
    top: 50%;
    left: 2.5%;
    right: 2.5%;
    z-index: -1;

  }
}